body {
  /* background: plum;    */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0; /* removes automatic padding-left of 20  */
}

li {
  list-style-type: none; /* removes bullet points */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex; /* displays as row horizontally */
  justify-content: center; /* aligns thing in the center horizonally */
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap; /* creates grid effect */
  justify-content: space-around; /* space each item evenly horizontally */
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.repo-owner{
  margin: 2px 0 2px 0;
}